@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


:root {

  --primary-color: #1d1f25;
}

.LigthMode {
  --primary-color: white;
}

body {
  background-color: #141518;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

header {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px !important;
}

.headerIcon {
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.logo {
  height: 50px;
  margin-left: 20px;
}

.user {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.userDropDown img {
  height: 50px;
  width: 200%;
  cursor: pointer;
  margin-right: 10px;
}

.user-Section {
  height: 200px;
  width: 200px;
  background-color: #1d1f25;
  position: absolute;
  z-index: 1;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  color: white;
}


#darkmodeBtn,
#notification {
  height: 50px;
  width: 50%;
  font-size: xx-large;
  color: white;
  padding: 10px;
}

.mainContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
}

.subContainer {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: row;
  position: relative;

}

.sidebar {
  background-color: #141518;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  width: 100%;
  color: whitesmoke;
}


.h2Container {
  width: 100%;
  height: calc(20% - 10px);
  display: block;
  margin-left: 10px;
}

.categoriesContainer {
  height: 100%;
  width: 100%;
}

.categoryContainer {
  color: whitesmoke;
  margin-left: 10px;
  margin-bottom: 10px;
}

.categoryContainer input {
  cursor: pointer;
}

.categories-text {
  cursor: pointer;
  background-color: #008968;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: white;
  border-radius: 10px;
}

.threadContainer {
  min-height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141518;
}

.threadNavContainer {
  min-height: 50px;
  width: 95%;
  margin-top: 20px;
}

.sideBar-toggle{
  background-color: #008968;
  height: 100%;
  width: 50px;
  display: none;
  border-radius: 10px 0px 0px 10px;
}

.searchBar {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
}

.searchBarinput {
  border: 0;
  outline: none;
  color: black;
  width: 80%;
  border-radius: 10px 0px 0px 10px;
  font-size: 20px;
  padding-left: 25px;
}

.searchBarLogo {
  width: 5%;
  font-size: larger;
  background-color: #008968;
  padding: 20px 0px 20px 20px;
  display: flex;
}

.hidePostThreadBtn{
  background-color: #008968;
  width: 20%;
  height: 50%;
  padding: 10px;
  margin-left: 50px;
  display: none;
}


.threadContentContainer {
  height: 800px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.threadContentContainer::-webkit-scrollbar {
  display: none;
}



.rightContainer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141518;
}

.postThreadContainer {
  height: 275px;
  width: 90%;
  background-color: #008968;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.thread-post {
  margin-left: 0px;
}

.postThreadContent {
  height: 250px;
}

.h2CategoryContainer {

  width: 100%;
  display: flex;
  justify-content: center;

}

.postThreadContent h2 {
  margin: 10px;
  font-size: small;
  padding: 5px;
  margin-left: 0px;
  font-weight: bold;
  color: black;
}

.category-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

.selectCategory {
  width: 40%;
  font-size: 12px;
  margin: 0px 10px 0px 10px;
  border: none;
  background-color: #282c38;
  border-radius: 5px;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

.titleInp {
  width: 60%;
  margin: 0px 10px 0px 10px;
  border: none;
  background-color: #282c38;
  border-radius: 5px;
  color: #ffff;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px;

}

.titleInp::placeholder {
  color: #FFFF;

}

.threadInpContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.threadInp {
  height: 90%;
  width: 100%;
  margin: 0px 10px 0px 10px;
  resize: none;
  min-height: 40px;
  border-radius: 5px;
  background-color: #282c38;
  color: #ffff;
  border: none;
  padding: 5px;
}

.threadBtnContainer {
  margin-top: 10px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.postBtn {
  margin-right: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #282c38;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

.expandBtn {
  margin-right: 10px;
  width: 100px;
  border: none;
  border-radius: 5px;
  background-color: #282c38;
  color: #ffff;
  font-family: 'Montserrat', sans-serif;
}

.latestContainer {
  height: 665px;
  width: 90%;
  background-color: #1D1F25;
  border-radius: 10px;
  overflow-y: scroll;

}

.latestContainer::-webkit-scrollbar {
  display: none;
}

.latest {
  color: whitesmoke;
  font-size: 24px;
  margin-left: 25px;
  background-color: #1D1F25;
}

.avatar {
  width: 60px;
  height: 50px;
  margin-left: 25px;
}

.content-box1 {
  display: flex;
  margin-bottom: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}

.p-1 {
  color: whitesmoke;
  font-size: 13px;
  margin: 0;
  flex: 1;
}

.uploader {
  color: whitesmoke;
  margin: 0;
  font-size: medium;
}

.creatorContainer {
  height: 200px;
  width: 95%;
  background-color: #008968;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.donate {
  width: 23.75%;
  height: 200px;
}

.links {
  width: 23.75%;
  height: 200px;
}

.about {
  width: 23.75%;
  height: 200px;
}

.creator {
  width: 23.75%;
  height: 200px;
}





/* test */


/* Thread Styles Start*/

.threadContent {
  width: 100%;
  height: fit-content;
  margin: 20px 0px 20px 0px;
  background-color: #1D1F25;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatarTextsContainer {
  display: flex;
}

.threadUserAvatar {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-right: 30px;
}

.threadUserAvatar img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.threadTextsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  word-break: break-word;
  width: 400px;
}

.threadTexts {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.threadReaction {
  display: flex;
  align-items: center;
}

.threadThumbsUp,
.threadThumbsDown {
  font-size: 30px;
  margin: 5px;
  color: whitesmoke;
}

/* Thread Style End */

/* Reply Styles Start */

.replyContent {
  width: 100%;
  height: fit-content;
  margin: 20px 0px 20px 0px;
  background-color: #1D1F25;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.replyUserAvatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  margin-right: 30px;
}

.replyUserAvatar img {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.replyUserAvatar span {
  margin-bottom: 10px;
}

.replyTexts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 400px;
}

.repliedTo {
  background-color: #141518;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  color: white;
}

.reply {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 10px;
  color: white;
}

.replyReaction {
  display: flex;
  align-items: center;
}

.replyThumbsUp,
.replyThumbsDown {
  font-size: 30px;
  margin: 5px;
  color: whitesmoke;
}

/* Reply Styles End */

@media only screen and (max-width: 800px) {
  .sidebar , .rightContainer {
    display: none;
  }
  .threadContainer {
    width: 100%;
  }
  .sideBar-toggle{
    display: flex;
    
  }
  .hidePostThreadBtn{
    display: flex;
    
    
  }
  .threadNavContainer{
    display: flex;
    justify-content: space-around;
    }
    .searchBar{
      flex: 1;
      padding-left: 5px;
    }
    .threadContent{
      flex-direction:column;
      
  }
  .avatarTextsContainer{
    justify-content: center;
  }
   .threadReaction{
    justify-content: center;
   }
   .threadUserAvatar{
    margin-left:20px
   }

  }
  
 




