body {
  background-color: #141518;
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
  background-color: #1d1f25;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerIcons {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 60px !important;
}

.headerIcon{
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
}

.logo {
  height: 90%;
  margin-left: 20px;
}

.user {
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.userDropDown img {
  height: 50px;
  width: 200%;
  cursor: pointer;
  margin-right: 10px;
}

#darkmode ,#notification {
  height: 50px;
  width: 50%;
  font-size: xx-large;
  color: white;
  padding: 10px;
}

.mainContainer {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100vh;
  
  
}

.subContainer {
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: row;
  position: relative;
  
}

.sidebar {
  background-color: #141518;
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
}

.sidebar h2 {
  background-color: #008968;
  width: 100%;
  border-radius: 5px;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}


.h2Container {
  background-color: #008968;
  display: flex;
  align-items:flex-start;
  justify-content: center;
  width: 100%;
  height: calc(20% - 10px);
}



.categoriesContainer {
  height: 80%;
  /* background-color: #1D1F25; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categoryContainer {
  background-color: #008968;
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
}

.categories-text {
  cursor: pointer;
  background-color: #008968;
  padding: 10px;
  width: 50%;
  text-align: center;
  color: white;
  border-radius: 10px;
}



.threadContainer {
  min-height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: #141518;
}

.threadNavContainer {
  min-height: 50px;
  width: 95%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
 
}

.searchBar {
  height: 100%;
  width: 70%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.searchBarinput {
  border: 0;
  outline: none;
  color: black;
  width: 90%;

}

.searchBarLogo {
  width: 5%;
  font-size: larger;
  background-color: #008968;
  padding: 20px 0px 20px 20px;
  display: flex;
  
}


.threadContentContainer {
  height: 800px;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.threadContentContainer::-webkit-scrollbar {
  display: none;
}

.threadContent {
  width: 100%;
  min-height: 150px;
  margin: 20px 0px 20px 0px;
  background-color: #1D1F25;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: space-evenly;


}

.thread-Image img{
  width: 70%;
  height:70%;
  padding: 10px 0 10px 50px;


}

.threadTitle {
  color: white;
  font-size: large;
  display: flex;
  flex-direction: column;
  padding: 20px;
  min-width:50%;
  height: 20%;
}

.threadDate {
  width: 20%;
  margin: 10px 40px 30px 30px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
 
 


}

.thumbs-up ,.thumbs-down{
  font-size: 30px;
  background-color: #008968;
  height: 35px;
  width: 35px;
  margin: 5px;
  border-radius: 10px;

  
 
}

.rightContainer {
  height: 100%;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #141518;
}

.postThreadContainer {
  height:450px;
  width: 90%;
  background-color: #008968;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.latestContainer {
  height: 450px;
  width: 90%;
  background-color: #1D1F25;
  border-radius: 10px;
  overflow-y: scroll;

}

.latestContainer::-webkit-scrollbar {
  display: none;
}

.latest {
  color: whitesmoke;
  font-size: 24px;
  margin-left: 25px;
  background-color: #1D1F25;
}

.avatar {
  width:30%;
  height: 80px;
  margin-left: 25px;
}

.content-box1 {
  display: flex;
  margin-bottom: 30px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 15px;
}

.p-1 {
  color: whitesmoke;
  font-size: 20px;
  margin: 0;
}

.uploader {
  color: whitesmoke;
  margin: 0;
}

.creatorContainer {
  height: 300px;
  width: 90%;
  background-color: #008968;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
  display: flex;
}


.creatorH2{

  display: flex;
  justify-content: center;

}

.creator {
  justify-content: space-around;
  display: flex;
  width: 100%;
}

.creatorContent {
  width: 100%;
}

.creator-avatar {
  width: 15%;
  height: 15%;
  margin-top: -20px;
  display: flex;

}

.creator-name {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}


.postThreadContent {
  height: 100%;
}

.h2CategoryContainer {
  /* height: 20%; */
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: #008968; */
}

.postThreadContent h2 {
  margin: 10px;
  background-color: #1d1f25;
  font-size: small;
  padding: 5px;
  border-radius: 5px;
  color: #ffff;
}

.category-title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

.selectCategory {
  width: 40%;
  font-size: x-small;
  margin: 0px 5px 0px 10px;
  border: none;
  background-color: #282c38;
  border-radius: 2px;
  color: #ffff;
}

.titleInp {
  width: 60%;
  margin: 0px 10px 0px 10px;
  border: none;
  background-color: #282c38;
  border-radius: 2px;
  color: #ffff;
}

.titleInp::placeholder {
  color: #FFFF;
}

.threadInpContainer {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.threadInp {
  height: 90%;
  width: 100%;
  margin: 0px 10px 0px 10px;
  resize: none;
  min-height: 40px;
  border-radius: 5px;
  background-color: #282c38;
  color: #ffff;
  border: none;
  padding: 5px;
}

.threadBtnContainer {
  margin-top: 10px;
  height: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.postBtn {
  margin-right: 10px;
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color: #1d1f25;
  color: #ffff;
}

.expandBtn {
  margin-right: 10px;
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color: #1d1f25;
  color: #ffff;
}

.latestContainer {
  height: 80%;
  width: 90%;
  background-color: #1D1F25;
  border-radius: 10px;
}

.creatorContainer {
  height: 300px;
  width: 90%;
  background-color: #008968;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 10px;
}